.top-section {
  color: #222222;
  padding: 80px 0px;
  min-height: calc(100vh - 775px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-section .heading-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1em;
  text-align: left;
}

.top-section .heading-text {
  text-align: left;
  padding: 16px 0;
}
@media (min-width: 768px) {
  .top-section {
    height: unset;
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
    max-width: 1425px;
    margin-left: auto;
    margin-right: auto;
  }

  .top-section .heading-title {
    font-size: 60px;
  }

  .room {
    display: flex;
  }

  .room-details {
    flex-basis: 30%;
    padding: 60px 0px 30px 60px;
  }

  .room-properties .property {
    display: flex;
  }

  .room-image {
    flex: 1;
  }

  .room-image img {
    height: 70vh;
  }
  .room-properties .property .label {
    flex-basis: 40%;
  }
  .room-properties .property .value {
    flex: 1;
  }
}

.apartments {
  background-color: #0f172b;
}

.room-details {
  padding: 60px 40px 30px;
  color: #ffffff;
}

.room-details .room-name {
  font-size: 26px;
}

.room-price {
  margin-top: 20px;
}

.room-price .label {
  font-size: 16px;
}

.room-price .value {
  font-size: 32px;
}

.room-properties {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.room-properties .label {
  font-weight: 700;
}

.room-properties p {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 300;
}

.view-details {
  margin-top: 50px;
  margin-bottom: 50px;
}

.view-details .link {
  border: 2px solid #ffffff;
  padding: 10px 50px;
  text-decoration: none;
  color: #ffffff;
}

.room-image {
  line-height: 0;
}

.room-image img {
  width: 100%;
  height: 62vh;
  object-fit: cover;
}
