@import "https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Jost", sans-serif;
  padding-top: 100px;
}

.full-width {
  margin-left: -30px;
  margin-right: -30px;
}
 
.navigation {
  display: block;
  padding: 4px 30px;
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  z-index: 1050;
}

.navigation .logo img {
  width: 90px;
}

.navigation nav {
  padding: 35px 0;
  padding-left: 35px;

  display: flex;
  flex-direction: column;
}

.navigation nav a {
  padding: 0 10px;
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  margin-bottom: 10px;
}

.navigation nav a.active {
  border-bottom: 1px solid;
}

.navigation input[type="checkbox"] {
  display: none;
}

.navigation label {
  text-align: right;
  display: block;
  padding: 0.5em;
  line-height: 1.6em;
  position: relative;
  float: right;
  right: 40px;
  top: 6px;
}

.navigation input[type="checkbox"]:not(:checked) + nav {
  display: none;
}

.navigation .logo {
  display: inline-block;
}

.navigation .menu {
  width: fit-content;
  float: right;
  position: relative;
  right: 48px;
}

/*
 *  hamburger
 */
.navigation label span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}

.navigation label span:first-child {
  transform-origin: 0% 0%;
}

.navigation label span:last-child {
  transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
.navigation label:has(~ input:checked) span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

.navigation label:has(~ input:checked) span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.navigation label:has(~ input:checked) span:last-child {
  transform: rotate(-45deg) translate(-2px, 0px);
}

.page-container {
  padding: 0 30px;
}
.top-section .heading-title {
  width: fit-content;
  background: aliceblue;
  padding: 0 10px;
}

footer {
  padding: 0 30px;
  padding-top: 40px;
}

footer .book-apartment,
footer .about {
  margin-bottom: 40px;
}
footer .book-apartment h2,
footer .about h2 {
  margin: 10px 0;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

footer .about .logo {
  padding: 10px 0;
  padding-bottom: 25px;
  text-align: center;
}

footer .about .logo img {
  width: 120px;
}

footer .about p {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}

footer .book-apartment .content p {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

footer .book-apartment .content .link {
  text-align: center;
  margin-top: 40px;
}

footer .book-apartment .content .link a {
  background-color: #0f172b;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 40px;
}

footer .footer-nav {
  font-size: 12px;
  font-weight: 400;
  border-top: 1px solid #e7e7e7;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  clear: both;
  -webkit-font-smoothing: antialiased;
}

footer .footer-nav nav {
  text-align: center;
}
footer .footer-nav nav a {
  text-decoration: none;
}
footer .footer-nav nav a:not(:first-child) {
  margin-left: 20px;
  color: #222222;
}

footer .copyright {
  text-align: center;
  padding: 0 30px 0 30px;
}

footer .copyright p {
  font-size: 12px;
  color: #222222;
  font-weight: 400;
}

@media (min-width: 768px) {
  .navigation {
    padding: 4px 100px;
  }

  .navigation nav a {
    padding: 0 !important;
    margin: 0 10px !important;
  }
  .upper-footer {
    display: flex;
    padding: 30px 0px;
  }

  footer {
    max-width: 1425px;
    margin-left: auto;
    margin-right: auto;
  }

  footer .book-apartment,
  footer .about {
    flex: 1;
  }

  footer .book-apartment > *,
  footer .book-apartment > .content > *,
  footer .about > * {
    text-align: left !important;
  }

  footer .about {
    display: flex;
    flex-direction: column;
  }

  footer .about .logo-wrapper {
    display: flex;
    gap: 20px;
  }
  footer .about .logo-wrapper p {
    text-align: left !important;
    font-size: 22px;
    padding-right: 80px;
  }
  .navigation nav {
    display: block !important;
  }

  .navigation {
    display: flex !important;
  }

  .navigation label {
    display: none !important;
  }
}
